NodeMCU-WIFI-HTTPServer-GY30/config.h
NodeMCU-WIFIClient--GY30/config - DO NOT CHECK IN.h
NodeMCU-WIFIClient--GY30-influxdb/config - DO NOT CHECK IN.h
Bewaesserung-Lolin/sketch_sep01a/config - DO NOT CHECK IN.h
